body {
    background-color: black;
    color: white;
    font-family: "Raleway", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
#container {
}

.col-centered{
    float: none;
    margin: 0 auto;
}
.h1, h1 {
    font-size: 36px;
    margin-left: 60px;
}
.row{
	margin-left:0;
	margin-right:0;
}


/* === Main console === */
#command_line {
    display: none;
    size: 50px;
}
#console {
    background-color:black; 
    height: 400px; 
    width: 800px; 
    margin: auto;
    overflow: auto;
    color: white;
}

#console p {
    color: white;
    display: none;
    font-size: 17px;
}
#console h3 {
    color: white;
    display: none;
    font-size: 17px;
}

/* === Form === */
input {
    background-color: black;
    border: 1px solid #333;
    display: inline-block;
    font-size: 17px;
   	width: 100%;
}

input:focus {
    outline: none;
}

/*===Footer===*/
#footer{
	bottom:0;
	color: #696969;
	position: fixed;
	margin: 20px 10px;
}